<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Estilo principal -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/assets/dndicon.webp">
<title>Portal de Rol</title>
</head>
<body>
	<h2>Ficha creada</h2>
	<br></br>
	<p>Objeto:{{ficha.nombre}}</p>
	<p>Tipo:{{ficha.tipo}}</p>
	<p>Descripción: {{ficha.descripcion}}</p>
</body>

<br></br>
<a href="/partidas_privadas">Partidas privadas</a>
<br></br>
<a href="/">Página principal</a>
</html>