<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Estilo principal -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/assets/dndicon.webp">
<title>Portal de Rol</title>
</head>
<body>
	<h1>Fichas activas en esta partida:</h1>

	{{#fichas}} {{#.}}
	<div class="hilos">
		<a href="/partidas_privadas/{{idPartida}}/consultar_fichas/{{id}}">{{nombre}}:
			{{tipo}}</a>
	</div>
	{{/.}} {{/fichas}}

</body>

<br></br>
<a href="/partidas_privadas/{{idPartida}}">Volver</a>
</html>