<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<h2>Aquí se crean y consultan fichas.</h2>
	<br></br>
	<a href="/crear_ficha/ficha_heroes">Fichas de personajes</a>
	<br></br>
	<a href="/crear_ficha/ficha_enemigos">Fichas de Enemigos</a>
	<br></br>
	<a href="/crear_ficha/ficha_objetos">Fichas de Objetos</a>
	<br></br>
	<a href="/crear_ficha/ficha_habilidades">Fichas de Habilidades</a>
	<br></br>
	<a href="/crear_ficha/ficha_loc">Fichas de Localizaciones</a>
	<br></br>
	
</body>

<a href="/">Volver</a>
</html>