<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Estilo principal -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/assets/dndicon.webp">
<title>Portal de Rol</title>
</head>
<body>
	<h2>Mensaje</h2>

	<form method="post"
		action='/partidas_publicas/{{titulo}}/escribir_mensaje_partida/aceptar' enctype="multipart/form-data">
		<p>Escribe tu mensaje:</p>
		<textarea name='mensajeEscrito' rows=5 cols=40>Texto</textarea>
		<input type='submit' value='Enviar'>
		<p>Foto:</p>
		<input type='file' name='imagenFile' accept=".jpg, .jpeg, .png"/>
		<input type='hidden' name="_csrf" value="{{token}}" />
	</form>


	<a href="/partidas_publicas/{{titulo}}">Volver</a>
</body>


</html>