<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<h2>Aquí se crean y consultan fichas de enemigos.</h2>
	
	<form method="post" action='/ficha_enemigos/aceptar_ficha_enemigo'>
	<p>Nombre del enemigo: </p>
	<input type='text' name='name'/>
	<br></br>
	<p>Tipo del enemigo: </p>
	<label>	<input type='radio'  name='Tipo' value= "Bestia"/> Es una bestia común. </label>
	<label>	<input type='radio'  name='Tipo' value= "Humano"/> Es un humano. </label>
	<label>	<input type='radio'  name='Tipo' value= "Monstruo"/> Es un monstruo. </label>
	<br></br>
	<p>Alineamiento del enemigo: </p>
	<label>	<input type='radio'  name='Alineamiento' value= "Bueno"/> Bueno. </label>
	<label>	<input type='radio'  name='Alineamiento' value= "Neutro"/> Ni bueno ni malo, neutral. </label>
	<label>	<input type='radio'  name='Alineamiento' value= "Malvado"/> Malvado. </label>
	<br></br>
	 	
 	<input type='submit' value='Enviar'>
	
	
	
</body>

<br></br>
<a href="/crear_ficha">Volver a fichas</a>
<br></br>
<a href="/">Volver al portal</a>
</html>