<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<h2>Aquí se crean y consultan fichas de personajes.</h2>
	
	<form method="post" action='/crear_ficha/ficha_heroes/aceptar'>
	<p>Nombre del personaje: </p>
	<input type='text' name='name'/>
	<br></br>
	<p>Tipo de personaje: </p>
	<div>
	<label>
	<input type='checkbox' class="radio" name='Jugador' value= "Jugador"/> Es un personaje de un jugador. </label>
	<br></br>
	<label>
	<input type='checkbox' class="radio" name='Jugador' value= "No jugador"/> Es un personaje no jugador. </label>
	<br></br>
	</div>
 	<input type='submit' value='Enviar'>
	
	
	
</body>

<br></br>
<a href="/crear_ficha">Volver a fichas</a>
<br></br>
<a href="/">Volver al portal</a>
</html>