<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Estilo principal -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/assets/dndicon.webp">
<title>Portal de Rol</title>
</head>
<body>
	<h1>Estas en el hilo {{hilo.titulo}}</h1>
	<table>
		{{#mensajes}} {{#.}}
		<div class="autor-mensaje">
			<div class="autor">
				<p>
					<b>{{autor.nombre}}:</b>
				</p>
			</div>
			<div class="mensaje">
				<p>{{texto}}</p>
			</div>
			{{#tieneImagen}}
			<img src={{rutaImagen}} alt="Imagen del mensaje">
			{{/tieneImagen}}
			{{#admin}}
			<a href="/foro/{{hilo.id}}/{{-index}}">Eliminar mensaje</a>
			{{/admin}}
		</div>
		{{/.}}

		<br></br> {{/mensajes}}



	</table>
	<a href="/foro/{{hilo.id}}/escribir_mensaje">Escribir mensaje</a>
	<br></br>
	<a href="/foro">Volver</a>
</body>


</html>
