<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

	<!-- Estilo principal -->
	<link rel="stylesheet" href="/css/style.css" />
	<title> Portal de Rol</title>
	<link rel="icon" href="/assets/dndicon.webp">
</head>
<body>
	 <h1>Bienvenidos al portal de rol</h1>
  	 <h2>Estos son los enlaces que buscáis</h2>
  	 <div class = "center">
  	 <a href="/foro">Foro general</a>

  	 <a href="/partidas_publicas">Partidas publicas</a>

  	 <a href="/crear_usuario">Crear usuario</a>

  	 <a href="/inicia_sesion">Iniciar sesion</a>
  	 
  	 <a href="/cierra_sesion">Cerrar sesion</a>

  	 <a href="/crear_partida">Crear partida</a>

  	 <a href="/partidas_privadas">Entrar a partida privada</a>

  	 <a href="/crear_ficha">Crear ficha</a>
  	 </div>
</body>
</html>