<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Estilo principal -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/assets/dndicon.webp">
<title>Portal de Rol</title>
</head>
<body>
	<h2>Iniciar sesión</h2>
	<form method="post" action="/inicia_sesion">
		<p>Nombre de usuario:</p>
		<input type='text' name="username" />
		<p>Contraseña:</p>
		<input type='password' name="password" /> <input type='submit'
			value='Enviar'>
		<input type='hidden' name="_csrf" value="{{token}}" />	
</body>

<a href="/">Volver</a>
</html>